<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://image.flaticon.com/icons/png/512/1453/1453592.png"
  />
  <span>Health API</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card">
    <span>La liste des patiens</span>
  </div>

  <div class="card-container" *ngIf="this.datas.length > 0; else elseBlock">
    <div *ngFor="let item of this.datas">
      <h3>{{ item.firstname + ' ' + item.lastname }}</h3>
      <span>Age : <b>{{ item.age }}</b> | Sexe : <b>{{ item.sexe }}</b></span>
      <hr>
      <div style="margin: 20px">
        <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <span>No data found !</span>
  </ng-template>
<router-outlet></router-outlet>
